@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1> Welcome to Coyote Chat</h1>
<p>If you have not created an account before make sure to click on the login button in the upper right hand conner</p>

